#main {

}
#contactUs__page__back__section {
    display: flex;
    align-items: center;
    margin-top: 32px;

}

#contactUs__page__logo {
    width: 271px;
    height: 76px;
    margin-left: 64px;
}

#contactUs__page__back {
    width: 30px;
    height: 30px;
}
#contactUs__page__restore {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

#contactUs__page__questions {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FF001C;
    text-align: center;
}

#contactUs__page__qestions__problemsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 142px;

}
.contactUs__page__qestions__problems__1 {

}
.contactUs__page__qestions__problems__box {
    width: 255px;
    height: 126px;
    background: #FFFFFF;
    border: 3px solid rgba(185, 185, 185, 0.19);
    box-shadow: 0px -2px 4px #FFFFFF, 10px 20px 9px #7F7F7F;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

#contactUs__page__qestions__contactsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 157px;
    margin-top: 142px;
}

.contactUs__page__qestions__contacts__box {
    width: 300px;
    height: 340px;
    background: #FFFFFF;
    border: 3px solid rgba(185, 185, 185, 0.19);
    box-shadow: 0px -2px 4px #FFFFFF, 10px 20px 9px #7F7F7F;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

}

.contactUs__page__qestions__contacts__icon__border {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 3px solid rgba(147,147,147,1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 41px;
}
.contactUs__page__qestions__contacts__icon__border-red {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 3px solid rgba(255,0,28,1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 41px;
}
.contactUs__page__qestions__contacts__icon {
    width: 50px;
    height: 50px;
}

.contactUs__page__qestions__contacts__title {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.84);
}

.contactUs__page__qestions__contacts__text {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(0, 0, 0, 0.84);
    flex-wrap: wrap;
}
.contactUs__page__qestions__contacts__text-edit {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(0, 0, 0, 0.84);
    flex-wrap: wrap;
    margin-bottom: -10px;
}